---
### note: will result in an all-in-one-file stylesheet e.g. style.css
---

@import 'settings';


body {
  font-family: $font-family; 
}

h1 {
  border-bottom: 1px solid black;   
}

h2 {
  border-bottom: 1px solid black;
  font-weight: bold; 
}


ul {
  list-style-type: square;
}

span.highlight {
  background-color: yellow;
  font-weight:bold;
}


a, a:visited {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: yellow;
}


#header {
  padding: 0.25em;

  .big {
    font-size: 200%;
    font-weight: bold;
  }
  .small {
    font-size: 120%;
    color: gray;
    padding-left: 15px;
  }
}


#nav {
  padding: 0.5em;

  a, a:visited {
   text-decoration: none;
  }

  a:hover {
   text-decoration: underline;
  }
}


#content {
  padding: 0.5em; 
}


/* fix: use javascript?? jquery to add .programlisting class
  to pre tags followed by code e.g. <pre><code> => <pre class='programlisting'><code>

   for now assume all pres are programlistings
*/ 
pre,
.programlisting
{
  padding: 4px 4px 4px 4px;
  border-top: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  background: #f3f3f3;
}

/*
.programlisting
{
   color: white;
   background-color: black;
   padding: 0.5em;
}
*/


.toc
{
   width: 35%;
   float: right;
   /* border: silver solid 1pt; */
   border: #bbb solid 1pt;
   background-color: #eeeeee;
   font-size: 80%;

   /* first paragraph in toc is toc-title;
           use prediciate too to make sure we only get the first one??
           e.g. p:first-child ??   */
   p {
     text-align: center;
     font-weight: bold;
   }
}


.editme  {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: #bbb solid 1pt;
  background-color: #eeeeee;
  font-size: 80%;
}


.announce  {
  background-color: #dff0d8;
  font-size: 18px;
  padding: 8px 8px 4px 8px;    // top right bottom left
  margin: 6px 0 6px 0;         // top right bottom left
  border: 1px solid green;
}



@import 'banner';
