

<div class='announce'>
 Update: 
  New Season Match Schedules -
  <a href="https://openfootball.github.io/england/2026-27_1-premierleague">English Premier League 2026/27</a>,
  <a href="https://openfootball.github.io/deutschland/2026-27_1-bundesliga">Deutsche Bundesliga 2026/27</a>, 
  <a href="https://openfootball.github.io/italy/2026-27_1-seriea">Italian Serie A 2026/27</a>,
  <a href="https://openfootball.github.io/espana/2026-27_1-liga">Spanish Primera División 2026/27</a>,
  <a href="https://openfootball.github.io/europe/france_2026-27_fr1">French Ligue 2026/27</a>,
    and Many More
</div>

