

<div class='announce'>
 Update: 
  New Season Match Schedules -
  <a href="https://openfootball.github.io/england/2026-27_1-premierleague">English Premier League 2026/27</a>,
  <a href="https://github.com/openfootball/deutschland/tree/master/2026-27">Deutsche Bundesliga 2026/27</a>, 
  <a href="https://github.com/openfootball/italy/tree/master/2026-27">Italian Serie A 2026/27</a>,
  <a href="https://github.com/openfootball/espana/tree/master/2026-27">Spanish Primera División 2026/27</a>,
  <a href="https://github.com/openfootball/europe/tree/master/france/">French Ligue 2026/27</a>,
    and Many More
</div>

