

<div class='announce'>
 Update: 
  New Season Match Schedules -
  <a href="https://github.com/openfootball/en-england/tree/master/2014_15">English Premier League 2014/15</a>,
  <a href="https://github.com/openfootball/de-deutschland/tree/master/2014_15">Deutsche Bundesliga 2014/15</a>,
  <a href="https://github.com/openfootball/europe-champions-league/tree/master/2014_15">Champions League 2014/15</a>
    and More
</div>

<!--
  News Update: <a href="https://github.com/jokecamp/sportdb-build-scripts">Alternate way to build your own football.db SQLite database</a> by Joe Kampschmidt
-->
  
<!--
   News Update: Open Knowledge Foundation (OKFN) Data Wrangling Blog Post:
  <a href="http://okfnlabs.org/blog/2014/05/06/open-data-world-cup.html">Using open football data - Get ready for the World Cup in Brazil 2014</a>
-->

<!--
 News Update: World Cup 2014 match picks/predictions 
  (w/ <a href="https://github.com/openbookie/sportbook">open source sportbook web app</a>).
   <a href="http://sportbook.herokuapp.com">Try the picks demo</a> (login with demo/demo).
-->

<!--
 News Update: Open Sports Data Hackdays - Fr+Sa May 23+24 - Basel, Milano, Wien, Your City?
- <a href='http://opendata.ch/sports-hackdays'>Join Us</a>
-->
