<div>
 <a href="https://github.com/4lp"       title="4lp">                        {% avatar 4lp     size=32 %}
 <a href="https://github.com/bjoern3"   title="bjoern3">                    {% avatar bjoern3 size=32 %}
 <a href="https://github.com/cecomp64"  title="Carl Svensson (cecomp64)">   {% avatar cecomp64 size=32 %}
 <a href="https://github.com/Chakaitos"  title="Jose Borja (Chakaitos)">   {% avatar Chakaitos size=32 %}
 <a href="https://github.com/davidavz"  title="David (davidavz)">   {% avatar davidavz size=32 %}
 <a href="https://github.com/dirkgomez"  title="Dirk Gómez (dirkgomez)">   {% avatar dirkgomez size=32 %}
 <a href="https://github.com/enadol"  title="Enrique Lopez Magallon (enadol)">   {% avatar enadol size=32 %}
 <a href="https://github.com/fchristysen"  title="fchristysen">   {% avatar fchristysen size=32 %}
 <a href="https://github.com/gr33ndata"  title="Tarek Amr (gr33ndata)">   {% avatar gr33ndata size=32 %}
 <a href="https://github.com/hidenobunagai"  title="Hidenobu Nagai (hidenobunagai)">   {% avatar hidenobunagai size=32 %}
 <a href="https://github.com/jokecamp"  title="Joe K (jokecamp)">   {% avatar jokecamp size=32 %}
 <a href="https://github.com/Kaspi"  title="Kaspi">   {% avatar Kaspi size=32 %}
 <a href="https://github.com/kivanccakmak"  title="Kıvanç Çakmak (kivanccakmak)">   {% avatar kivanccakmak size=32 %}
 <a href="https://github.com/larkov"  title="Lari Kovanen (larkov)">   {% avatar larkov size=32 %}
 <a href="https://github.com/lokomass"  title="lokomass">   {% avatar lokomass size=32 %}
 <a href="https://github.com/mahdi"  title="Mahdi Taghizadeh (mahdi)">   {% avatar mahdi size=32 %}
 <a href="https://github.com/marfire"  title="Kevin Christopher Henry (marfire)">   {% avatar marfire size=32 %}
 <a href="https://github.com/mgidon"  title="mgidon">   {% avatar mgidon size=32 %}
 <a href="https://github.com/mpodell"  title="Michael O'Dell (mpodell)">   {% avatar mpodell size=32 %}
 <a href="https://github.com/noso2k1"  title="Gabriele N (noso2k1)">   {% avatar noso2k1 size=32 %}
 <a href="https://github.com/pratul-nayak"  title="pratul-nayak">   {% avatar pratul-nayak size=32 %}
 <a href="https://github.com/rlpereira"  title="Rafael Pereira (rlpereira)">   {% avatar rlpereira size=32 %}
 <a href="https://github.com/SDoehren"  title="SDoehren">   {% avatar SDoehren size=32 %}
 <a href="https://github.com/stvhwrd"  title="Stevie Howard (stvhwrd)">   {% avatar stvhwrd size=32 %}
</div>
