<p>
   <a href="https://github.com/4lp"       title="4lp">                        {% avatar 4lp     size=32 %}
   <a href="https://github.com/bjoern3"   title="bjoern3">                    {% avatar bjoern3 size=32 %}
   <a href="https://github.com/cecomp64"  title="Carl Svensson (cecomp64)">   {% avatar cecomp64 size=32 %}

   <a href="https://github.com/Chakaitos"  title="Jose Borja (Chakaitos)">   {% avatar Chakaitos size=32 %}
   <a href="https://github.com/davidavz"  title="David (davidavz)">   {% avatar davidavz size=32 %}
   <a href="https://github.com/dirkgomez"  title="Dirk Gómez (dirkgomez)">   {% avatar dirkgomez size=32 %}
   <a href="https://github.com/enadol"  title="Enrique Lopez Magallon (enadol)">   {% avatar enadol size=32 %}
</p>
<!-- break -->
