<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - football.db - Open Football Data</title>
   <link rel="stylesheet" href="openfootball.css" type="text/css">
</head>
<body>

  <div id="header">
    <span class='big'>football.db</span>
    <span class='small'>free open public domain football data</span>
  </div>

  <div id="nav">
   
    <a href="index.html">Home</a> |
    <a href="build.html">How To Build Your Own Copy</a> |
    <a href="api.html">Web Service / HTTP JSON API</a> |

<!--
    <a href="tutorial.html">10-Minute Quick Start Guide</a> |
    <a href="more.html">Settings, Tips, Tricks and More</a> |
    <a href="plugins.html">Plugins, Helpers</a> |    
    <a href="code.html">Syntax Highlighting</a> |
    <a href="templates.html">Template Pack Gallery</a> | 
    <a href="themes.html">Gradient Themes</a> |
 -->
    <a href="https://github.com/openfootball">Data, Repos</a> |

    <a href="http://groups.google.com/group/opensport">What's New? &middot; Forum (Questions? Comments?)</a>
     
  </div>
    
    <div id="content">
      {{ content }}
      
      {% include editme.html %}
      
    </div>

</body>
</html>