<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - football.db - Open Football Data</title>
   <link rel="stylesheet" href="openfootball.css" type="text/css">
</head>
<body>

  {% include banner.html %}

  <div id="header">
    <span class='big'>football.db</span>
    <span class='small'>free open public domain football data</span>
  </div>

  <div id="nav">

    <a href="index.html">Home</a> |

    <a href="https://github.com/openfootball">Datasets, Repos (Edit Me!)</a> |

    <a href="questions.html">Frequently Asked Questions n Answers (FAQs)</a> |

    <a href="news.html">News n Updates</a> |

    <a href="http://groups.google.com/group/opensport">Forum (Questions? Comments?)</a> |

    <a href="build.html">How To Build Your Own Copy</a> |

    <a href="docs/">Documentation</a> |

    <a href="https://github.com/sportdb">Tools &amp; Scripts</a> |

    <a href="https://github.com/openfootball/api">Web Service / HTTP JSON API</a> |

    <a href="https://github.com/footballjs">football.js</a> |

    <a href="https://github.com/openfootball/book">The Free World Football Almanac</a>

  </div>

  {% include announce.html %}
    
    <div id="content">
      {{ content }}
      
      {% include editme.html %}
      
    </div>

</body>
</html>
